**Exploratory Data Analysis**

In [40]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/employee_data.csv')
df

In [42]:
df.head()

   Unnamed: 0  id groups  age  healthy_eating  active_lifestyle  salary
0           0   0      A   36               5                 5    2297
1           1   1      A   55               3                 5    1134
2           2   2      A   61               8                 1    4969
3           3   3      O   29               3                 6     902
4           4   4      O   34               6                 2    3574

In [ ]:
df.info() #all the data enteries are non-null constraints

In [ ]:
df.shape

In [ ]:
total=df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total,percent],axis=1, keys=['Total','Percent'])
missing_data.head()

In [ ]:
df = df.drop(missing_data[missing_data['Total'] > 1 ].index,1)
df = df.drop(df.loc[df['salary'].isnull()].index)
df.isnull().sum().max()

In [ ]:
sns.displot(df['active_lifestyle'])

In [ ]:
sns.displot(df['age'])

In [ ]:
sns.displot(df['groups'])

In [ ]:
sns.displot(df['healthy_eating'])

In [ ]:
sns.displot(df['salary'])

In [ ]:
df.plot(figsize=(20,20))

In [ ]:
sns.scatterplot(x=df['age'],y=df['salary'])

In [ ]:
sns.jointplot(x=df['active_lifestyle'], y=df['groups'])

In [ ]:
sns.jointplot(x=df['salary'], y=df['groups'])

In [ ]:
"skewness : %f" % df['active_lifestyle'].skew()

In [ ]:
cond_plot = sns.FacetGrid(data=df, col='age', hue='id', col_wrap=4)
cond_plot.map(sns.scatterplot, 'groups', 'active_lifestyle');

In [ ]:
sorted_nb = df.groupby(['age'])['active_lifestyle'].median().sort_values()
sns.boxplot(x=df['age'], y=df['healthy_eating'], order=list(sorted_nb.index))

In [ ]:
plt.stackplot(df['id'],df['age'])